<% layout('layouts/boilerplate.ejs') %>
  <div class="container mt-4">
    <div class="row">
      <div class="col-md-9">
        <h2>Add album</h2>
        <form id="albumForm" action="/management/album" method="POST" enctype="multipart/form-data">
          <div class="mb-3">
            <label for="title" class="form-label">Title album</label>
            <input type="text" class="form-control" id="title" name="album[title]" required>
          </div>
          <div class="mb-3">
            <label for="subtitle" class="form-label">Description</label>
            <input type="text" class="form-control" id="description" name="album[description]" required>
          </div>
          <div class="mb-3">
            <label for="date" class="form-label">Kegiatan Acara</label>
            <input type="date" class="form-control" id="date" name="album[date]" required>
          </div>
          <div class="mb-3">
            <label for="image" class="form-label">Upload Gambar</label>
            <input class="form-control" type="file" id="image" name="image" multiple required>
          </div>
          <button type="submit" id="formBtn" class="btn btn-primary py-2 px-4 mb-4" disabled>Submit</button>
          <div id="spinner" class="spinner-border spinner-border-sm mb-2 ms-3 visually-hidden" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </form>
      </div>
    </div>
  </div>

  <script>
    const form = document.getElementById('albumForm');
    const formBtn = document.getElementById('formBtn');
    const spinner = document.getElementById('spinner');
    const fields = form.querySelectorAll('input[required]');

    function checkFormValidity() {
      let allFilled = true;
      fields.forEach(field => {
        if (!field.value) {
          allFilled = false;
        }
      });
      formBtn.disabled = !allFilled;
    }

    fields.forEach(field => {
      field.addEventListener('input', checkFormValidity);
    });

    form.addEventListener('submit', function (event) {
      formBtn.disabled = true;
      spinner.classList.remove("visually-hidden");
    });

    // Initial check in case some fields are pre-filled
    checkFormValidity();
  </script>