<% layout('layouts/boilerplate.ejs') %>

    <!-- <main class="px-3">
            <h1><span class="text-warning">Fikom</span>Showcase</h1>
            <p class="lead pb-5 mb-5"> Selamat Datang di FikomShowcase! Disini, Anda dapat menemukan berbagai proyek
                inovatif yang telah dibuat oleh mahasiswa.</p>
            <p class="lead mt-5 pt-5">
                Anda juga bisa ikut berpartisipasi! Pamerkan karya Anda, bagikan pengalaman, dan berikan komentar serta
                ulasan. Mari saling menginspirasi dan berkolaborasi untuk menciptakan lingkungan akademis yang dinamis
                dan inovatif.</p>
            <a href="/projects" class="btn btn btn-secondary font-weight-bold border-white bg-white">Lihat Proyek
                Mahasiswa</a>
        </main> -->

    <main>
        <p>dashboard page</p>
    </main>