<% layout('layouts/boilerplate')%>
    <div class="container d-flex justify-content-center align-items-center mt-3">
        <div class="row justify-content-center" style="width: 50em;">
            <div class="mb-5 w-75">
                <div class="card shadow">
                    <!-- <img src="https://res.cloudinary.com/depkm8h6l/image/upload/f_auto,q_auto/v1/fikom-showcase/logo-fikom"
                    alt="" class="card-img-top bg-secondary" style="width: 10em;"/> -->

                    <!-- const UserSchema = new Schema({
  email: {
    type: String,
    required: true,
    unique: true,
  },
  name: String,
  admin: Boolean,
}); -->
                    <div class="card-body">
                        <h5 class="card-title text-center border-bottom py-3 mb-4">Register</h5>
                        <form action="/register" method="POST" class="validated-form needs-validation" novalidate>
                            <div class="row">
                                <div class="mb-3">
                                    <label class="form-label" for="username"><b>Username</b></label>
                                    <input class="form-control" type="text" id="username" name="username" required
                                        autofocus>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="email">Email</label>
                                    <input class="form-control" type="email" id="email" name="email" required>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="password">Password</label>
                                    <input class="form-control" type="password" id="password" name="password" required>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="name">Nama Lengkap</label>
                                    <input class="form-control" type="text" id="name" name="name" required autofocus>
                                </div>
                                <div class="mb-3 mt-1">
                                    <label class="form-label" for="name">Apakah user adalah admin?</label>
                                    <input class="form-check-input border-2 border-secondary ms-1" type="checkbox"
                                        name="admin" id="admin" value="true">
                                </div>

                            </div>
                            <button class="btn btn-success btn-block">Register</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>